@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;0,700;1,700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-light: rgb(165, 165, 165);
  --color-dark: rgb(57, 44, 94);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body,
html {
  color: var(--color-dark);
  overflow: hidden;
}

p {
  font-size: 16px;
  line-height: 1.1;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
  position: absolute;
  top: 5%;
  left: 3%;
  width: 400px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
}
.bio {
  font-style: italic;
}

.bio,
.link {
  margin-bottom: 1.5%;
  font-size: 1rem;
  font-weight: 700;
}

.bio-link {
  font-style: normal;
}
/* .link:hover {
  transform: scale(1.01);
} */
.underline {
  display: inline-block;
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-dark);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background: transparent;
  border: none;
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-right: 175px;
  transition: 0.5s;
}

.button span:after {
  content: "use scroll or left click";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* MOBILE */
@media (max-width: 500px) {
  .bio,
  .link,
  .button span {
    font-size: 0.75rem;
  }
}
